@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Archivo+Black&display=swap');

$text-header:'Archivo Black', sans-serif;
$text-regular: 'Josefin Sans', sans-serif;

@mixin header {
    font-familY: $text-header;
    font-weight: 900;
}

@mixin text {
    font-familY: $text-regular;
    font-weight: 900;
  }
