@import "~bootstrap/scss/bootstrap";
@import 'colors';
@import 'fonts';
@import 'config';


// to define common properties, and then simply call function
@mixin easeOut {
  transition: all .5s ease-out !important;
}

* {
  box-sizing: border-box;
}

body, html, #root, .App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  background-color: $primary;
}

Form {
  width: 55rem;
}

h1 {
  color: $primary;
  font-size: 3rem;
  @include header();
}

p {
  color: $grey;
}

.text-secondary {
  color: $primary !important;
}

label {
  color: $grey;
  @include text();
}

Button {
  background-color: $primary !important;
  border: none !important;
  @include easeOut();
  &:hover {
    background-color: $accent !important;
  }
}

@include tiny {
  body {
    padding: 1rem;
  }
  Form {
    width: 100%;
  }
}

@include tablet {
  body {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  Form {
    width: 100%;
  }
}

@include desktop {
  body {
    padding: 3rem;
  }
  Form {
    width: 100%;
  }
}



