@import "~bootstrap/scss/bootstrap";
@import 'colors';
@import 'fonts';
@import 'config';


// to define common properties, and then simply call function
@mixin easeOut {
  transition: all .5s ease-out !important;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: $primary;
  font-size: 3rem;
  @include header();
}

p {
  color: $grey;
}

.text-secondary {
  color: $primary !important;
}

label {
  color: $grey;
  @include text();
}

Button {
  background-color: $primary !important;
  border: none !important;
  @include easeOut();
  &:hover {
    background-color: $accent !important;
  }
}

@include mobile {
  html, body {
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

